* {
    box-sizing: border-box;
  }
  body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Boutons next & previous */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position de "next button" à la droite */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* En survol, ajoutez la couleur noire de l'arrière-plan avec un peu see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
 

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Styles pour le header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1820b2; /* Couleur de fond du header */
  color: #fff; /* Couleur du texte */
  padding: 10px 15px; /* Espacement intérieur */
}

/* Styles pour le logo */
.logo img {
  width: 70px; /* Largeur du logo */
  height: auto;
}

/* Styles pour les informations du commercial */
.commercial-info h1 {
  font-size: 24px; /* Taille de la police */
  margin: 0; /* Supprime la marge par défaut du titre */
}






/* Styles pour la photo de profil */
.profile-photo img {
  width: 200px; /* Largeur de la photo de profil */
  height: 200px; /* Hauteur de la photo de profil */
  border-radius: 50%; /* Pour créer un cercle */
  object-fit: cover; /* Ajuste la photo pour remplir le cercle */
  margin-left: 45%;
  margin-top: 1%;
  background-color: rgb(171, 15, 15);
  margin-bottom: 1%;
background-color: rgba(139, 0, 0, 0.852);
}

main {
  background-color: #c6c5c5;
  display: block;
}

section {
  margin: auto;
}


/* Styles pour la photo de profil */
.profile-photo img {
  width: 200px; /* Largeur de la photo de profil */
  height: 200px; /* Hauteur de la photo de profil */
  border-radius: 50%; /* Pour créer un cercle */
  object-fit: cover; /* Ajuste la photo pour remplir le cercle */
  margin-left: 43%;
  margin-top: 1%;
  background-color: rgba(47, 78, 189, 0.997);
  margin-bottom: 1%;
}






.flipbox {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  transition: transform 0.5s ease-in-out;
}

.flipbox:hover {
  transform: rotateX(180deg);
}

.flipbox-front {
  background-color: #000000;
  color: #ffffff;
}

.flipbox-back {
  background-color: #ffffff;
  color: #000000;
}

.flipbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flipbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

#projet{
  background-color: #04AA6D;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #1820b2;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-size: 1.2em;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.form-green {
  background-color: green;
}









body {
  background: #35373e;
}

.icons {
  margin-left: 625px;
  margin-top: 70px;
  float: right;
  margin-right: 200px;
}

li {
  float: left;
  margin-left: 10px;
  list-style: none;
}

fa-fw {
  text-align: left;
}

.fa {
  display: inline-block;
  font-size: 20px;
  border-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  padding: 10px 28px 10px 12px;
  color: white;
  transition-duration: 0.3s;
}

.fa-facebook {
  display: inline-block;
  font-size: 20px;
  border-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  padding: 10px 26px 10px 14px;
  color: white;
  transition-duration: 0.3s;
}

.fa-facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
}

.fa-twitter:hover {
  color: #1da1f2;
  border-color: #1da1f2;
}

.fa-github:hover {
  color: black;
  border-color: black;
}

.fa-instagram:hover {
  color: #804000;
  border-color: #804000;
}

#thumbnailImage {
  
}




